@font-face {
  font-family: "msc100";
  src: url("../src/fonts/MuseoSansCyrl.ttf") format("truetype");
  font-style: normal;
  font-weight: 100;
}
@font-face {
  font-family: "msc300";
  src: url("../src/fonts/MuseoSansCyrl_0.ttf") format("truetype");
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-family: "msc500";
  src: url("../src/fonts/MuseoSansCyrl_1.ttf") format("truetype");
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: "msc700";
  src: url("../src/fonts/MuseoSansCyrl_2.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: "msc900";
  src: url("../src/fonts/MuseoSansCyrl_3.ttf") format("truetype");
  font-style: normal;
  font-weight: 900;
}